# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem


_posts/2024-2-16-computer-vision.md
_posts/2024-2-16-natural-language-processing.md
_posts/2024-2-16-reinforcement-learning.md
_posts/2024-2-16-robotics.md
_posts/2024-2-16-speech-recognition.md
_posts/2024-11-01-*
_posts/2024-11-02-*
_posts/2024-11-03-*
_posts/2024-11-04-*
_posts/2024-11-05-*
_posts/2024-11-06-*
_posts/2024-11-07-*